body{
    font-family: Godwit;
    src: url(https://d1785e74lyxkqq.cloudfront.net/fonts/GodwitText-Regular.woff2) format("woff2"),
         url(https://d1785e74lyxkqq.cloudfront.net/fonts/GodwitText-Regular.woff) format("woff");;

}

.parent_div{
    margin-top: -8px;
    margin-left: -8px;  
    width:101.3%;
    overflow: hidden;
}

.container{
    position:relative;
    max-width:100%; 
}

#menubar{
    background-color:#004052;
}

#menubar ul{
    margin:0px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 50%;
    max-width: 100px;
}
.menu_option{
    display:inline-block;
    padding: 10px;
    background-color:#004052;
    text-align: center;
    margin-left: 12px;
    margin-right:12px;
}

.menu_option:hover{
    background-color: #004953;
}
#menu_now{
    background-color: #037594;
}

.menu_option a{
    color:white;
    font-size: 18px;
    text-decoration: none;
    text-align:center;
    }

#bg{
    min-height: 350px;
    max-height: 350px;
}
.bg_image{
    width:100%;
    min-height: 350px;
    max-height: 350px;
    object-fit: cover;
    position: absolute;
    float:none;
    display:block;
}

.bg_dim{
    width:100%;
    min-height: 350px;
    max-height: 350px;
    height:100%;
    background-color: hsla(0, 0%, 0%, 0.456);
    position: absolute;
    display:grid;

}

.logo{
    text-align: center;
    font-size: 500%;
    font-family: "Mate-SC";
    font-style: italic;
    color:#ffffff;
}

.location{
    margin:0px;
    position: absolute;
    bottom:17%;
    right:30px;
    z-index: 3;
    color:#ffffff;
}

.transition_div{
    width:100%;
    background-color: #ffffff;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    position: absolute;
    bottom:0px;
    z-index: 3;
    min-height: 50px;
    max-height: 50px;
}

#tour_ads{
    padding: 15px 8%;
}

.content_title{
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

#tour_packs_title{
    display:inline-block;
}

#tour_links{
    text-decoration: none;
    color:black;
    position: absolute;
    right: 5px;
    bottom:0;
    margin-bottom: 5px;
}

.content{
    display:grid;
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3%;
    row-gap: 15px;
    width:100%;
}
.advertisement{
    overflow:hidden;
    border-radius:8px;
    position: relative;
}

.ads_hover{
    position: absolute;
    text-decoration: none;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.501);
    color:white;
    display: none;
}

.ads_title{
    margin: 3% 3% 0;
    font-weight: 100;
}

.ads_desc{
    margin:3% 3% 0;
}

.advertisement:hover .ads_hover{
    display: block;
}

.ads_img{
    width:100%;
    height:100%;
    position: relative;
}

#footer_parent{
    position: relative;
    bottom:0;
    background-color: #00202A;
    color:white;
    text-align: center;
    margin-top: 2%;
    margin-bottom: -8px;
    padding: 4% 0;
}

#footer_brand{
    margin:0px 0 0.6%;
}

#address{
    margin:0 2%;
}

#social_container{
    margin: 2%;
}

.social_logo{
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    
}

.social_link{
    margin:0 1%;
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    padding: 4px 4px;
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
}