body{
    font-family: Godwit;
    src: url(https://d1785e74lyxkqq.cloudfront.net/fonts/GodwitText-Regular.woff2) format("woff2"),
         url(https://d1785e74lyxkqq.cloudfront.net/fonts/GodwitText-Regular.woff) format("woff");;

}

.parent_div{
    margin-top: -8px;
    margin-left: -8px;  
    width:101.3%;
    overflow: hidden;
}

.container{
    position:relative;
    max-width:100%; 
}

#menubar{
    background-color:#004052;
    display: flex;
    align-items: center;
}

.logo_div{
    min-width:  38px;
    min-height: 38px;   
    max-height: 38px;
    max-width:  38px;
    margin:0 20px;
}

.logo_img{
    width:100%;
    height:100%;
    border-radius: 50%;
}

#menubar ul{
    margin:0px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 50%;
    max-width: 100px;
    padding:0
}
.menu_option{
    display:inline-block;
    background-color:#004052;
    text-align: center;
    margin-left: 5px;
    margin-right:5px;
    width:5rem;
}

.menu_option:hover{
    background-color: #004953;
}
#menu_now{
    background-color: #037594;
}

.menu_option a{
    display: inline-block;
    color:white;
    font-size: 18px;
    text-decoration: none;
    text-align:center;
    padding: 10px 0;
    width:100%;
    }

#bg{
    min-height: 350px;
    max-height: 350px;
}
.bg_image{
    width:100%;
    min-height: 350px;
    max-height: 350px;
    object-fit: cover;
    position: absolute;
    float:none;
    display:block;
}

.bg_dim{
    width:100%;
    min-height: 350px;
    max-height: 350px;
    height:100%;
    background-color: hsla(0, 0%, 0%, 0.456);
    position: absolute;
    display:grid;

}

.logo{
    text-align: center;
    font-size: 500%;
    font-family: "Mate-SC";
    font-style: italic;
    color:#ffffff;
}

.location{
    margin:0px;
    position: absolute;
    bottom:17%;
    right:30px;
    z-index: 3;
    color:#ffffff;
}

.transition_div{
    width:100%;
    background-color: #ffffff;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    position: absolute;
    bottom:0px;
    z-index: 3;
    min-height: 50px;
    max-height: 50px;
}

#tour_ads{
    padding: 15px 8%;
}

.content_title{
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

#tour_packs_title{
    display:inline-block;
}

#tour_links{
    text-decoration: none;
    color:black;
    position: absolute;
    right: 5px;
    bottom:0;
    margin-bottom: 5px;
}

.content{
    display:grid;
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3%;
    row-gap: 15px;
    width:100%;
}
.advertisement{
    overflow:hidden;
    border-radius:8px;
    position: relative;
}

.ads_hover{
    position: absolute;
    text-decoration: none;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.501);
    color:white;
    display: none;
}

.ads_title{
    margin: 3% 3% 0;
    font-weight: 100;
}

.ads_desc{
    margin:3% 3% 0;
}

.advertisement:hover .ads_hover{
    display: block;
}

.ads_img{
    width:100%;
    height:100%;
    position: relative;
}

#footer_parent{
    position: relative;
    bottom:0;
    background-color: #00202A;
    color:white;
    text-align: center;
    margin-top: 2%;
    margin-bottom: -8px;
    padding: 4% 0;
}

#footer_brand{
    margin:0px 0 0.6%;
}

#address{
    margin:0 2%;
}

#social_container{
    margin: 2%;
}

.social_logo{
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    
}

.social_link{
    margin:0 1%;
    display: inline-block;
    font-size: 2em;
    min-width: 38px;
}

#tour_page_flex{
    display: flex;
    margin: 8px 0 0;
    padding: 0 5%;
}

#form_container{
    min-width: 300px;
}

.form_filter{
    margin:45px 40px 0 ;
    background-color: #264B56;
    color:white;
    padding:20px;
    display:flex;
    flex-direction: column;
}

.form_filter *{
    margin:5px
}

#price{
    width:60px;
    margin: 5px 0px 5px 0;
}

#duration_lbl{
    margin:0;
}

#tour_ads_container{
    flex:1;
    margin:25px 40px 0 0;
}

.tour_packs{
    display: flex;
    background-color: #3d5d71;
    border-radius: 20px;
    margin:20px 0 0;
}  

.tour_imgdiv{
    min-width: 100px;
    max-width: 200px;
    
    border-radius: 20px;
    overflow:hidden;

    margin: 0 20px 0 0;
}

.tour_img{
    min-width: 100px;
    max-width: 200px;
}

.tour_desc{
    flex:1;
    color:white;
}

.tour_title{
    margin:15px 0 0;
}

.tour_detail{
    margin:10px 0 15px;
}

.tour_go{
    min-width: 100px;
    max-width: 150px;
    position: relative;
    color:white;
}

.buy_button{
    padding:10px 15px;
    border-radius: 10px;
    position: absolute;
    bottom:0px;
    right:0px;

    background-color: #264B56;
    color:white;
    border:none;
}

@media (max-width:800px) {
    .content{
        grid-template-columns: 1fr 1fr;
    }

    .form_filter{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #tour_page_flex{
        flex-direction: column;
    }

    #tour_ads_container{
        margin:0px;
    }
}

@media (max-width:575px) {
    .content{
        grid-template-columns: 1fr ;
    }

    .form_filter{
        grid-template-columns: 1fr;
    }
}