body{
    text-align: center;
    margin:300px auto;
    font-size: 450%;
    letter-spacing: -8px;
    font-family: sans-serif;
}

.g{
    color:#4285f4;
}

#lower_g{
    font-weight: bold;
}

.red{
    color:#ea4335;
    font-weight: bold;
}

.orange{
    color:#fbbc05;
    font-weight: bold;
}

.green{
    color:#34a853;
    font-weight: bold;
}

.search_bar{
    min-width: 60%;
    max-width:60%;
    min-height: 25px;
    max-height:25px;
    border: rgb(220,220,220) solid;
    border-radius: 100px;
    display:block;
    position:absolute;
    left:20%;

}

.input{
    position:absolute;
    right:0;
    min-width: 93%;
    min-height: 23px;
    max-width: inherit;
    border:none;
    border-radius: inherit;
    
}


#icon{
    position: absolute;
    left:1%;
    font-size: 0.25em;
}